
$font-weight--thin: 100;
$font-weight--light: 300;
$font-weight--regular: 400;
$font-weight--medium: 500;
$font-weight--semibold: 600;
$font-weight--bold: 700;
$font-weight--black: 900;

$font--xxxs: 8px;
$font--xxs: 10px;
$font--xs: 12px;
$font--s: 14px;
$font--base: 16px;
$font--l: 18px;
$font--xl: 20px;
$font--xxl: 22px;
$font--subtitle-sm: 24px;
$font--title-sm: 28px;
$font--subtitle: 30px;
$font--title: 36px;

$bp-smaller-than-mobile: "max-width: 767px";
$bp-larger-than-mobile: "min-width: 768px";
$bp-smaller-than-tablet: "max-width: 1023px";
$bp-larger-than-tablet: "min-width: 1024px";
$bp-smaller-than-desktop: "max-width: 1200px";
$bp-larger-than-desktop: "min-width: 1200px";
$bp-larger-than-desktop-lg: "min-width: 1400px";

$main-container: 78rem;

/****** font size ******/
$h1: 40px;
$h2: 24px;
$h3: 22px;
$h4: 20px;
$h5: 18px;
$h6: 16px;
$p: 16px;
$font-size-12: 12px;
