h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: 20px;
}

.h1,
h1 {
  font-size: $h1;
  line-height: 56px;
  margin-bottom: 30px;
}

.h2,
h2 {
  font-size: $h2;
  line-height: 29.05px;
}

.h3,
h3 {
  font-size: $h3;
}

.h4,
h4 {
  font-size: $h4;
  line-height: 1.25;
}

.h5,
h5 {
  font-size: $h5;
}

.h6,
h6 {
  font-size: $h6;
  font-weight: $font-weight--semibold;
}

p {
  font-size: $p;
  line-height: 25.2px;
  margin-top: 0;
  margin-bottom: 16px;
  word-break: break-word;
}

table {
  font-size: $p;
  line-height: 25.2px;
}

a {
  text-decoration: none;
  transition: .2s ease-out;
}
