/*
 * @file
 * Define the global css.
 */

li {
  list-style-type: none;
}

.layout_container {
  max-width: 78rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section_row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.align_center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.content_center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.content_between {
  -ms-flex-pack: space-between !important;
  justify-content: space-between !important;
}
